COMPOSE_PROJECT_NAME=langflow-test
APP_IMAGE=ai-capability.tencentcloudcr.com/ai-capability-test/lang-flow-test:test-latest
WORKER_IMAGE=ai-capability.tencentcloudcr.com/ai-capability-test/lang-flow-test:test-latest
LANGFLOW_CELERY_ENABLED=False
DOCKER_NETWORK_NAME=langflow-test-net
TZ=Asia/Shanghai

MASTER_PORT=7862
SLAVE1_PORT=7861

POSTGRES_HOST=langflow-postgres
POSTGRES_PORT=5432
POSTGRES_USER=langflow
POSTGRES_PASSWORD=LangFlow2024!Secure
POSTGRES_DB=langflow_build

REDIS_HOST=langflow-redis
REDIS_PORT=6379

APP_DATA_DIR=/www/dk_project/dk_compose/langflow-canvas/app-data
APP_LOG_DIR=/www/dk_project/dk_compose/langflow-canvas/app-logs

LANGFLOW_AUTO_LOGIN=False
LANGFLOW_SUPERUSER=admin@xiaoti.com
LANGFLOW_SUPERUSER_PASSWORD=LangFlow2024!Secure
LANGFLOW_SECRET_KEY=vEgT5vfNVSD-WYz2PMWHPFFzVDji81GxbrfSBf0R8Is=
LANGFLOW_LOG_LEVEL=info
LANGFLOW_OPEN_BROWSER=False
